/* GENERAL */
* {
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	line-height: inherit;
	box-sizing: border-box;
}

html, body {
/* 	font-family: Verdana, sans-serif; */
	font-size: 14px;
	line-height: 1;
}

a {
	text-decoration: underline;
}

label {
	display: block;
}

#reset {
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body > h1 {
	box-sizing: content-box;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 1em;
	font-weight: bold;
	margin: 0;
	background-color: black;
	color: white;
	font-size: 30px;
	padding: 10px;
}

body > h1 img {
	height: 1em;
	width: auto;
}

body > h1 span {
	vertical-align: top;
}

* + p {
	margin-top: 1em;
}


/* LAYOUT */

body {
	padding: 1rem;
	padding-top: 64px;
}

body > * {
	margin-left: 3in;
}

#controls {
	margin-left: 0;
	margin-top: 50px;
	width: 3in;
}

#bar > * {
	display: inline-block;
	outline: 1px solid blue;
	vertical-align: top;
}

/* CONTROLS */

#controls {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.9);
	line-height: 1.2;
	border-right: 1px solid #999;
	overflow: scroll;
}

hr {
	display: block;
	margin-top: 1em;
	border-top: 1px solid #999;
	margin-bottom: 1em;
}

#controls label {
/* 	font-family: Courier, monospace; */
	display: block;
	font-size: 13px;
	margin-top: 1em;
}

#bar label {
	display: block;
	font-size: 13px;
}

#currently-editing {
	background-color: #EEF;
	padding: 2px 0.5em;
}

ul, li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.slider {
	display: grid;
	grid-template-columns: auto min-content 3em;
	grid-template-rows: auto auto;
	grid-gap: 0.25em;
	align-items: baseline;
	width: 3in;
}

#controls .slider {
	width: 100%;
}

.slider > * {
	padding-bottom: 2px;
}

.slider label ~ label::after {
	content: ":";
}

.slider input[type=number] {
	width: 100%;
	border: none;
	padding-left: 3px;
	border-bottom: 1px solid #999;
}

input[type=range] {
	position: relative;
	vertical-align: middle;
	grid-column: 1/4;
	grid-row: 2;
	width: 100%;
/*
	width: calc(100% - 6em);
	margin: 0 3em;
*/
}

input[type=range]::before {
	display: none;
	position: absolute;
	right: 105%;
	content: attr(min);
}

input[type=range]::after {
	display: none;
	position: absolute;
	left: 105%;
	content: attr(max);
}

input[type=range][disabled] {
	opacity: 0.5;
}

#alignment-controls input {
	position: absolute;
	left: -200vw;
}

#alignment-controls input + label {
	display: inline-block;
	width: 0.5in;
	height: 0.5in;
	margin-right: 0.1in;
	margin-top: 0;
	color: transparent;
	background-size: cover;
	background-position: center center;
}

#alignment-controls #align-left + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='%23CCC' x1='0' y1='2' x2='6' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='%23CCC' x1='0' y1='4' x2='8' y2='4'/%3E%3Cline stroke='%23CCC' x1='0' y1='6' x2='4' y2='6'/%3E%3C/svg%3E");
}

#alignment-controls #align-center + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='%23CCC' x1='1' y1='2' x2='7' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='%23CCC' x1='0' y1='4' x2='8' y2='4'/%3E%3Cline stroke='%23CCC' x1='2' y1='6' x2='6' y2='6'/%3E%3C/svg%3E");
}

#alignment-controls #align-right + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='%23CCC' x1='8' y1='2' x2='2' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='%23CCC' x1='8' y1='4' x2='0' y2='4'/%3E%3Cline stroke='%23CCC' x1='8' y1='6' x2='4' y2='6'/%3E%3C/svg%3E");
}

#alignment-controls #align-left:checked + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='black' x1='0' y1='2' x2='6' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='black' x1='0' y1='4' x2='8' y2='4'/%3E%3Cline stroke='black' x1='0' y1='6' x2='4' y2='6'/%3E%3C/svg%3E");
}

#alignment-controls #align-center:checked + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='black' x1='1' y1='2' x2='7' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='black' x1='0' y1='4' x2='8' y2='4'/%3E%3Cline stroke='black' x1='2' y1='6' x2='6' y2='6'/%3E%3C/svg%3E");
}

#alignment-controls #align-right:checked + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='black' x1='8' y1='2' x2='2' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='black' x1='8' y1='4' x2='0' y2='4'/%3E%3Cline stroke='black' x1='8' y1='6' x2='4' y2='6'/%3E%3C/svg%3E");
}

#alignment-controls #align-justify + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='%23CCC' x1='0' y1='2' x2='8' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='%23CCC' x1='0' y1='4' x2='8' y2='4'/%3E%3Cline stroke='%23CCC' x1='0' y1='6' x2='8' y2='6'/%3E%3C/svg%3E");
}

#alignment-controls #align-justify:checked + label {
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' xmlns='http%3A//www.w3.org/2000/svg' xmlns%3Axlink='http%3A//www.w3.org/1999/xlink'%3E%3Cline stroke='black' x1='0' y1='2' x2='8' y2='2'/%3E%3Cstyle%3Eline{stroke-width:0.8}%3C/style%3E%3Cline stroke='black' x1='0' y1='4' x2='8' y2='4'/%3E%3Cline stroke='black' x1='0' y1='6' x2='8' y2='6'/%3E%3C/svg%3E");
}


/* CSS OUTPUT */

#css-output {
/* 	background-color: black; */
/* 	color: #0f0; */
	padding: 1rem;
	white-space: pre;
	-moz-tab-size: 2;
	tab-size: 2;
	overflow: scroll;
	line-height: 1.3;
	font-family: Monaco, Consolas, Courier, monospace;
	border: 3px double blue;
	max-width: 100%;
}

#css-output::before {
	display: block;
	content: "/* CSS */";
	margin-bottom: 1em;
}


/* LABELS */

article label {
	font-family: sans-serif;
	text-align: right;
}

.H1 label {
	font-size: 2.5rem;
}

.H2 label {
	font-size: 2rem;
}

.H3 label {
	font-size: 1.5rem;
}

.T1 label {
	font-size: 1.25rem;
}

.T2 label {
	font-size: 1rem;
}


label.size-leading {
	font-size: 1rem !important;
	text-align: center;
}

/* colophon */
article > .row > *[data-axes]::after {
	display: none;
/*
	position: absolute;
	top: 100%;
	right: 0;
	max-width: 100%;
*/
	color: #09f;
	font-size: 0.75rem;
	content: attr(data-style) ": size " attr(data-size-leading) ", " attr(data-axes);
	font-family: Verdana;
	font-weight: normal;
	font-style: normal;
	font-feature-settings: normal;
	line-height: 1.2;
	text-align: right;
}

article.show-parameters > .row > *[data-axes]::after {
	display: block;
}



/* STYLES LAYOUT */

article {
	display: table;
	border-collapse: collapse;
	margin-bottom: 2rem;
}

article > .row {
	display: table-row;
}

article > .row > * {
	display: table-cell;
	vertical-align: baseline;
	position: relative;
}

article > .row > * + * {
	border-left: 1rem solid transparent;
}

article > .row + .row > * {
	border-top: 1rem solid transparent;
}

article *:focus, input:focus {
	outline: none;
}

article .current {
	background-color: #EEF;
}

/* DEFAULTS */

article {
	max-width: 40em;
}

article h1 {
	font-size: 64px;
	line-height: 60px;
}

article h2 {
	font-size: 36px;
	line-height: 36px;
}

article h3 {
	font-size: 18px;
	line-height: 24px;
}

article p.lede {
	font-size: 18px;
	line-height: 24px;
}

article p {
	font-size: 14px;
	line-height: 20px;
}

