
/* CONTROLS */

#currently-editing {
	background-color: #EEF;
	padding: 2px 0.5em;
}


/* LABELS */

article label {
	font-family: sans-serif;
	text-align: right;
}

.H1 label {
	font-size: 2.5rem;
}

.H2 label {
	font-size: 2rem;
}

.H3 label {
	font-size: 1.5rem;
}

.T1 label {
	font-size: 1.25rem;
}

.T2 label {
	font-size: 1rem;
}




/* STYLES LAYOUT */

article {
	display: table;
	border-collapse: collapse;
	margin-bottom: 2rem;
}

article h1, article h2, article h3 {
	font-weight: normal;
}

article > .row {
	display: table-row;
}

article > .row > * {
	display: table-cell;
	vertical-align: baseline;
	position: relative;
}

article > .row > * + * {
	border-left: 1rem solid transparent;
}

article > .row + .row > * {
	border-top: 1rem solid transparent;
}

article .current {
	background-color: #EEF;
}

/* DEFAULTS */

article {
	max-width: 40em;
}

article h1 {
	font-size: 64px;
	line-height: 60px;
}

article h2 {
	font-size: 36px;
	line-height: 36px;
}

article h3 {
	font-size: 18px;
	line-height: 24px;
}

article p.lede {
	font-size: 18px;
	line-height: 24px;
}

article p {
	font-size: 14px;
	line-height: 20px;
}

