
#grid *[data-axes]::after {
	text-align: left;
	white-space: nowrap;
}

#griddd {
	position: relative;
	padding-top: 1rem;
	padding-left: 1rem;
	width: max-content;
}

#griddd td {
	padding: 0.25em;
}

#griddd button {
	position: absolute;
	padding: 0;
	text-align: center;
	background: white;
	border-radius: 2px;
}

#griddd #add-row, #griddd #remove-row {
	top: 0;
	height: 1rem;
	width: 5rem;
}

#griddd #add-column, #griddd #remove-column {
	left: 0;
	height: 5rem;
	width: 1rem;
}

#griddd #remove-column {
	bottom: 51%;
}

#griddd #add-column {
	top: 51%;
}

#griddd #remove-row {
	right: 51%;
}

#griddd #add-row {
	left: 51%;
}